article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,button,input,select,textarea{color:#333333;}
body{color:#333333;background-color:#fff;font-size:14px;line-height:1.4;}
a{color:#0088cc;}a:hover{color:#005580;text-decoration:none;}
a:visited{color:#1ab2ff;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
nav ul,nav ol{margin:0;padding:0;}
.global-header{background-color:#0a559a;background-image:-moz-linear-gradient(top, #095090, #0a5da8);background-image:-ms-linear-gradient(top, #095090, #0a5da8);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#095090), to(#0a5da8));background-image:-webkit-linear-gradient(top, #095090, #0a5da8);background-image:-o-linear-gradient(top, #095090, #0a5da8);background-image:linear-gradient(top, #095090, #0a5da8);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#095090', endColorstr='#0a5da8', GradientType=0);color:#fff;background-color:#095090;}.global-header>h1{margin:0;font-size:20px;font-weight:normal;padding:5px 10px;text-align:center;}.global-header>h1 a{color:#fff;text-decoration:none;}.global-header>h1 a:hover{text-decoration:underline;}
.global-header nav h1{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.global-header nav h1.focusable:active,.global-header nav h1.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.global-header nav li{border-top:1px solid #eee;}
.global-header nav a{display:block;color:#fff;text-decoration:none;padding:5px 7px;background-color:#999;}.global-header nav a:hover{background-color:#888;}
.global-header nav a:active{background-color:#777;}
.content{padding:20px;}.content section>h1{font-size:24px;font-weight:normal;margin:0 0 20px;border-bottom:1px solid #ddd;}
.content section article h1{font-size:16px;margin:0 0 10px;}
.content section article li{margin-bottom:10px;}
.global-footer{color:#777;padding:15px 20px;border-top:2px solid #ddd;}.global-footer p{margin:0;}
@media only screen and (min-width:800px){body{padding-top:38px;} .content,.global-footer{width:800px;margin:auto;} .global-header{*zoom:1;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);position:fixed;top:0;right:0;left:0;zoom:1;clear:both;overflow:visible;width:100%;height:38px;}.global-header:before,.global-header:after{content:" ";display:table;} .global-header:after{clear:both;} .global-header>h1{text-align:left;float:left;} .global-header nav{float:right;margin:5px 5px 0 0;}.global-header nav li{display:inline-block;border-top:0;} .global-header nav a{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}}code,pre{padding:0 3px 2px;font-size:13px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;}
pre{display:block;padding:0.19999999999999995;margin:0 0 0.7;font-size:12.950000000000001px;line-height:1.4;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}pre.prettyprint{padding:8px;background-color:#f7f7f9;border:1px solid #e1e1e8;margin-bottom:1.4;}pre.prettyprint.linenums{-webkit-box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;-moz-box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}
pre.prettyprint ol.linenums{margin:0 0 0 33px;}pre.prettyprint ol.linenums li{padding-left:12px;color:#bebec5;line-height:1.4;text-shadow:0 1px 0 #fff;}
pre.prettyprint .com{color:#93a1a1;}
pre.prettyprint .lit{color:#195f91;}
pre.prettyprint .pun,pre.prettyprint .opn,pre.prettyprint .clo{color:#93a1a1;}
pre.prettyprint .fun{color:#dc322f;}
pre.prettyprint .str,pre.prettyprint .atv{color:#d14;}
pre.prettyprint .kwd,pre.prettyprint .linenums .tag{color:#1e347b;}
pre.prettyprint .typ,pre.prettyprint .atn,pre.prettyprint .dec,pre.prettyprint .var{color:teal;}
pre.prettyprint .pln{color:#48484c;}
pre code{padding:0;color:inherit;background-color:transparent;border:0;}
.pre-scrollable{max-height:340px;overflow-y:scroll;}
