// Variables
// -------------------------

// Base variables
@brandColour:                       #095090;
@textColour:                        #333;
@baseFontSize:                      13px;
@baseFontFamily:                    sans-serif;
@baseLineHeight:                    18px;

// Links
@linkColor:                         #08c;
@linkColorVisited:                  #08c;
@linkColorHover:                    darken(@linkColor, 15%);

// Standard buttons
@btnBackground:                     #fff;
@btnBackgroundHighlight:            darken(#fff, 10%);
@btnBorder:                         darken(#fff, 20%);

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 15%);

// Alternative buttons
@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(#f89406, 15%);
@btnWarningBackgroundHighlight:     #f89406;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #555;
@btnInverseBackgroundHighlight:     #222;
