// Variables
// -------------------------

// Base variables
@brandColour:                       #095090;
@baseFontColor:                     #333;
@baseFontSize:                      14px;
@baseFontFamily:                    sans-serif;
@baseLineHeight:                    1.4;

// Links
@linkColor:                         #08c;
@linkColorHover:                    darken(@linkColor, 15%);
@linkColorVisited:                  lighten(@linkColor, 15%);
